{% extends 'base.html' %}

{% block head %} 
<title>New Post</title>
{% endblock %}

{% block body %}
<br>
<h1>New Post</h1>
<h2>Create New Blog Post:</h2>

    <hr>

    <form action='https://liu-samuel.github.io/blog/posts' method='POST'>
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Enter Title">
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Enter Author">
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name="content" id="content" rows="3" placeholder="Enter Content" aria-label="Enter Content"></textarea>
        <br>
        <input type="submit" value='Post'>
    </form>
    <hr>

{% endblock %}